<% include ./partials/header%>
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<form action="http://localhost:3000/category" method="POST" role="form">
				<h1>Add Category</h1>
			
				<div class="form-group">
					
					<input name="name" type="text" class="form-control" id="" placeholder="Name">
				</div>
			
				<button type="submit" class="btn btn-primary">Add Category</button>
			</form>
		</div>
	</div>
</div>
<%include ./partials/footer%>
